* {
    padding: 0;
    margin: 5px;
}

input {
    margin: 5px 0px;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

.sidebar {
    width: 600px;
    height: 600px;
}


.panel-header {
    width: 100%;
    background: rgb(158, 145, 145);
    margin: 0px;
    padding: 2px;
    border: solid;
    border-width: 1px;
    border-color: darkgray;
}

.panel-body {
    width: 100%;
    background: white;
    margin: 0px;
    padding: 2px;
    border: solid;
    border-width: 1px;
    border-color: darkgray;
}

h2 {
    margin: 0px;
}

.button-sm {
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button-md {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.button:disabled,
.button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.slider {
    width: 200px;
    height: 25px;
}

.divided-modal-left {
    width: 50%;
}